img {
    object-fit: cover;
}
.row {
    margin-left: 50px;
    margin-right: 0;
    max-width: 96vw;
}


.no-pad {
    padding: 0;
}


.section-name {
    height: 304px;
}
/* social buttons */
.social-buttons {
    position: absolute;
    display: none;
    z-index: 3;
    top: 40%;
    left: 20%;
    right: 20%;
}
.social-buttons a {
    display: inline-block;
    text-decoration: none;
    top: 10px;
    margin: 10px 10px;
    padding: 10px;
    background: #fff;
    height: 40px;
    width: 40px;
}
.social-buttons a:hover {
    background: #111;
    fill: #fff;
}
.social-button {
    width: 100%;
    height: 100%;
}

/* overlay */
.overlay {
    z-index: 1;
    display: block;
    position: absolute;
    border: 10px solid transparent;
    /* check more about this property */
    background-clip: content-box;
    transition: background-color 0.25s;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}
.overlay-wrap {
    display: inline-block;
}
.overlay-wrap:hover .overlay {
    background-color: rgba(255, 255, 255, 0.5);
}
.overlay-wrap:hover .social-buttons {
    display: inline-block;
}
.screened {
    display: inline-block;
}

/* about section */
.about-text {
    height: 159px;
}


/* team section */
.team-image {
    /*height: 460px;*/
    margin: 0;
}

/* works section*/
.works-menu-image-lg {
    height: 100vh;
}
.works-menu-image {
    height: 50vh;
    width: 100%;
}
.works-menu-text {
    color: #bbb;
    background-color: #111;
    height: 50vh;
}
.works-image {
    height: 66vh;
    width: 100%;
}
.works-item {
    color: #bbb;
    height: 34vh;
    background-color: #111;
}
.works-text {
    color: #666;
    height: 34vh;
}

/* services section */
.services-text {
    height: 181px;
    background-color: rgba(230, 230, 230, 0.8);
    background-clip: content-box;
    padding: 0 60px 40px 60px;
}

/* news section */
.news-image {
    height: 460px;
}
.news-text {
    height: 460px;
}

/* quotes */
.quotes-bg {
    position: absolute;
    background: url(../img/quote.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
}

/* footer image */
.footer-image {
    height: 210px;
    width: 100%;
}


/* footer */
.footer {
    height: 50px;
    background-color: #bbb;
}

/*testing stuff*/
.header {
    position: fixed;
    display: block;
    z-index: 2;
    height: 100%;
    min-width: 50px;
    background-color: #ddd;
}
.text-row {
    padding: 0 65px 0 65px;
}
.carousel-wrapper {
    /*position: absolute;*/
    height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}
.owl-theme {
    top: 40%;
}
.owl-theme .owl-controls .owl-page span{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff;
    width: 2vw;
    height: 3px;
    margin: 3px 5px;
}
.news-carousel .owl-theme .owl-controls .owl-page span{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #333;
    width: 2vw;
    height: 2px;
    margin: 3px 5px;
}
.quotes-text {
    font-size: 3vh;
}

