::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #555;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #555;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #555;
}
:-moz-placeholder { /* Firefox 18- */
  color: #555;
}

.rotate {
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}



img {
    object-fit: cover;
}
::selection {
    background: #333;
    color: #fff;
}
.row {
    /*margin-left: 50px;*/
    margin-right: 0;
    /*max-width: 96vw;*/
}


.no-pad {
    padding: 0;
}


.section-name {
    height: 304px;
}
.sections-container {
    margin: 0 10vw 0 10vw;
}

/* social buttons */
.social-buttons {
    position: absolute;
    display: none;
    z-index: 3;
    top: 40%;
    left: 20%;
    right: 20%;
}
.social-buttons a {
    display: inline-block;
    text-decoration: none;
    top: 10px;
    margin: 10px 10px;
    padding: 10px;
    background: #fff;
    height: 40px;
    width: 40px;
}
.social-buttons a:hover {
    background: #111;
    fill: #fff;
}
.social-button {
    width: 100%;
    height: 100%;
}
.footer-container .social-buttons {
    display: inline-block;
    position: inherit;
}
.footer-container .social-buttons a {
    height: 15px;
    width: 15px;
    padding: 0;
    -webkit-transition: fill 0.25s;
    -moz-transition: fill 0.25s;
    -o-transition: fill 0.25s;
    transition: fill 0.25s;
    margin: 5px 5px 0 0;
}
.footer-container .social-buttons a:hover {
    background: none;
    fill: #bbb;
}

/* home section */
/* header */
.header {
    position: fixed;
    display: block;
    z-index: 10;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    min-height: 50px;
}
.header ul {
    float: right;
    margin: 15px 50px 0 0;
}
.header li {
    overflow-x: hidden;
    list-style: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: #fff;
}

/* mobile menu */
.mobile-menu {
    display: none;
}
.header-vertical .mobile-menu {
    position: absolute;
    top: 0;
    right: 4px;
    display: block;
    width: 45px;
    height: 50px;

}
/* vertical header*/
.header-vertical * {
    overflow: hidden;
}
.header-vertical *:hover .underline, .header-vertical .underline {
    display: none;
}
.header-vertical {
    position: fixed;
    min-height: 100%;
    width: 350px;
    background: #fff;
    margin: 0;
    left: -300px;
}
.header-vertical.header-open {
    left: 0;
}
.header-vertical.header-open .logo {
    display: block;
}
.header-vertical.header-open ul {
    justify-content: flex-start;
}

.header-vertical .nav-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
.header-vertical .logo {
    display: none;
    position: initial;
    background-image: url(../img/logo-dark.png);
    margin: 90px auto 40px auto;
}

.header-vertical .header-button-works:hover .dropdown {
    margin: 0;
    width: 100%;
    position: relative;
    background: none;
}
.header-vertical .dropdown, .header-vertical .dropdown:hover {
    display: block;
    background: none;
    margin: 0;
    padding: 0;
}
.header-vertical ul {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px 0 0;
}
.header-vertical li, .header-vertical .header-button-works>p {
    color: #111;
    margin-bottom: 7px;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-right: 25px;
    border-right: 5px solid #999;
}
.header-vertical li.header-button-works {
    border: none;
    margin-bottom: 0;
}
.header-vertical
.header-vertical .underline {
    display: none;
}
.header-vertical .works-dropdown-menu {
    margin-bottom: 7px;
}
.header-vertical .works-dropdown-menu>p, .header-vertical .works-dropdown-menu>span {
    border-right: 5px solid #999;
}
.header-vertical .header-button-works:hover .works-dropdown-menu {
    margin-bottom: 7px;
}
.header-vertical .dropdown:hover, .header-vertical .header-button:hover
, .header-vertical .header-button p:hover
{
    border-left: none;
    border-color: #111;
}
/* vertical header open */
.header-vertical.header-open ul{
    padding: 0;
}




.underline {
    position: relative;
    width: 0;
    left: 50%;
    height: 3px;
    background: #fff;
}
.logo {
    position: absolute;
    width: 80px;
    height: 70px;
    top: 0;
    left: 13px;
}
.logo a {
    display: block;
    height: 100%;
    width: 100%;
}
/* header-button-works*/
.works-dropdown {
    display: none;
}
.header-button-works>p{
    margin: 0;
}
.works-dropdown span, .works-dropdown p {
    padding: 10px 10px 7px 10px;
}
.works-dropdown span:hover, .works-dropdown p:hover {
    border-left: 4px solid white;
}
.header-button-works:hover .works-dropdown {
    display: block;
    background: #111;
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: auto;
}
.works-dropdown-menu span {
    display: none;
}
.works-dropdown-menu:hover span{
    display: block;
    background: #444;
    width: 100%;
}



/* buttons */
.home-button {
    display: block;
    z-index: 6;
    position: fixed;
    height: 171px;
    width: 50px;
    background-color: #111;
}
.overflow-wrap {
    overflow: hidden;
    height: 100%;
}
.home-button-overlay {
    display: block;
    bottom: 0;
    right: -100%;
    height: 200%;
    width: 340px;
    background-color: #999;
    opacity: 1;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    transform: skewX(30deg);
}
.home-button:hover .home-button-overlay{
    transform: skewX(30deg) translate(100%, -100px);
    background-color: #111;
    opacity: 0;
}
.button-discover {
    top: 35%;
    left: 0;
}
.button-subscribe {
    top: 35%;
    right: 0;
}
.home-button-small{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    fill: #fff;
    background-color: #111;
    top: 171px;
    padding: 15px;
}
.home-button-text {
    position: absolute;
    color: #fff;
    z-index: inherit;
    transform-origin: left top 0;
    height: 50px;
    width: 170px;
    font-size: 18px;
    line-height: 18px;
    top: 170px;
    padding: 16px 0 16px 0;
}

/* overlay */
.overlay {
    z-index: 1;
    display: block;
    position: absolute;
    border: 10px solid transparent;
    /* check more about this property */
    background-clip: content-box;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}
.overlay-wrap {
    display: inline-block;
    width: 100%;
}
.overlay-wrap:hover .overlay {
    background-color: rgba(255, 255, 255, 0.5);
}
.overlay-wrap:hover .social-buttons {
    display: inline-block;
}
.screened {
    display: inline-block;
}

/* about section */
.about-text {
    height: 159px;
}


/* team section */
.team.overlay-wrap{
    /* temporary fix */
    position: inherit;
    width: auto;
}
.team-image {
    /*height: 460px;*/
    margin: 0;
}

/* works section */
/* works menu, should probably organize it a bit */
.works-menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #eee;
    background-color: #111;
    height: 50vh;
}
.works-menu-wrap {
    width: 50%;
    margin: auto;
}
#works-header h3 {
    margin: 0;
}
.works-menu span {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.works-menu ul {
    padding: 0;
}
.works-menu li {
    list-style-type: none;
    font-size: 15px;
}
#works-header {
    display: none;
    position: fixed;
    z-index: 5;
    background: #111;
    top: 0;
    right: 0;
    width: 50%;
    height: 90px;
}
#works-header span {
    position: absolute;
    color: #fff;
    left: 30px;
    top: 20px;
}
#works-header ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 0 30px 0 30px;
    width: 100%;
}
#works-header li {
    display: inline-block;
    color: #fff;
    font-size: 12px;
}

/* works items */
.works-menu-image-lg {
    height: 100vh;
    width: 100%;
}
.works-menu-image {
    height: 50vh;
    width: 100%;
}
.works-image {
    height: 67vh;
    width: 100%;
}
.works-item {
    color: #bbb;
    height: 33vh;
    background-color: #111;
}
.works-text {
    color: #666;
    height: 33vh;
}

/* services section */
.services-text {
    height: 181px;
    background-color: rgba(230, 230, 230, 0.8);
    background-clip: content-box;
    padding: 0 60px 40px 60px;
}

/* news section */
.news-image {
    height: 460px;
}
.news-text {
    height: 460px;
}

/* quotes */
.quotes-bg {
    position: absolute;
    background: url(../img/quote.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
}
.quotes-text {
    font-size: 3vh;
}

/* contacts */
.contacts-form {
    margin-bottom: 100px;
}
.contacts-info svg {
    display: block;
    margin-bottom: 10px;
    fill: #555;
    height: 25px;
    width: 25px;
}
.contacts-info {
    display: flex;
    font-size: 16px;
    padding-bottom: 150px;
}
.contacts-input {
    width: 100%;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #111;
    text-align: center;
    outline: none;
    -webkit-transition: border-bottom-color 0.25s;
    -moz-transition: border-bottom-color 0.25s;
    -o-transition: border-bottom-color 0.25s;
    transition: border-bottom-color 0.25s;
}
.contacts-input:hover {
    border-bottom-color: #bbb;
}

/* footer image */
.footer-image {
    height: 210px;
    width: 100%;
}

/* footer */
.footer-container {
    height: 330px;
    padding: 100px;
    width: 100%;
}

/* carousels */
.carousel-wrapper {
    /*position: absolute;*/
    height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}
.owl-theme {
    top: 40%;
}
.owl-theme .owl-controls .owl-page span{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff;
    width: 2vw;
    height: 3px;
    margin: 3px 5px;
}
.news-carousel .owl-theme .owl-controls .owl-page span{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #333;
    width: 2vw;
    height: 2px;
    margin: 3px 5px;
}







/*testing stuff*/







.text-row {
    padding: 0 65px 0 65px;
}
.home-test {
    height: 100%;
    width: 100%;
}
.home-wrap {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    left: 0;
    background-color: #111;
    opacity: 0.3;
}